<div id="tabs-component">
    <div class="header">
        <div class="container">
            <ul class="tab-list">
                <li class="tab active">Tab 1</li>
                <li class="tab">Tab 2</li>
                <li class="tab">Tab 3</li>
            </ul>
        </div>
    </div>
    <div class="content">
        <div class="container">
            <div class="content-box">
                <h2>Tab 1 Content</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus vel distinctio officiis amet, reprehenderit molestiae debitis officia earum assumenda inventore neque nesciunt nisi natus, asperiores ratione cum reiciendis iure suscipit.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus vel distinctio officiis amet, reprehenderit molestiae debitis officia earum assumenda inventore neque nesciunt nisi natus, asperiores ratione cum reiciendis iure suscipit.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus vel distinctio officiis amet, reprehenderit molestiae debitis officia earum assumenda inventore neque nesciunt nisi natus, asperiores ratione cum reiciendis iure suscipit.</p>
            </div>
        </div>
    </div>
</div>