<!-- <app-tabs-component></app-tabs-component>
<app-tabs-component></app-tabs-component>
<app-tabs-component></app-tabs-component>
<app-tabs-component></app-tabs-component> -->


<div class="testing-box">
    <master-button [type]="'primary'" [title]="'save'"></master-button>
    <master-button [type]="'danger'" [title]="'delete'"></master-button>
    <master-button [type]="'warning'" [title]="'warning'"></master-button>
    <master-button [type]="'success'" [title]="'success'"></master-button>
</div>
<router-outlet></router-outlet>
