#image-box {
    width: 100%;
    max-width: 600px;
    background: black;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    img {
        width: 100%;
    }
    h2 {
        color: white;
    }
    .left {
        background: white;
        width: 100%;
        max-width: 250px;
        padding: 20px;
    }
    .right {
        background: #f5f7fa;
        padding: 20px;
        width: 300px;
    }
    .button {
        background: royalblue;
        padding: 10px 20px;
        border-radius: 5px;
        color: white;
        display: inline-block;
    }
    .testing-box {
        height: 100px;
        background: red;
        margin: 10px;
        width: 100px;
    }
}